<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- @Automatically generate by Coder in 2019-08-23 18:08 -->
<mapper namespace="com.taro.dao.sec.SecResouceDao">
  <resultMap id="BaseResultMap" type="com.taro.entity.sec.SecResouceEntity">
  	<id column="f_pid" property="id" jdbcType="VARCHAR" />
  	<result column="f_pid" property="id" jdbcType="VARCHAR" />
  	<result column="f_target_id" property="target_id" jdbcType="VARCHAR" />
  	<result column="f_type_id" property="type_id" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
  	t.f_pid, t.f_target_id, t.f_type_id
  </sql>
  
  <sql id="where_sql">
	<if test="id != null and id != ''" > and t.f_pid = #{id,jdbcType=VARCHAR}</if>
	<if test="target_id != null and target_id != ''" > and t.f_target_id = #{target_id,jdbcType=VARCHAR}</if>
	<if test="type_id != null and type_id != ''" > and t.f_type_id = #{type_id,jdbcType=VARCHAR}</if>
  </sql>
  
  <insert id="insert" parameterType="com.taro.entity.sec.SecResouceEntity" >
    insert into t_sec_resouce (
      f_pid, f_target_id, f_type_id
    ) values (
      #{id,jdbcType=VARCHAR}, #{target_id,jdbcType=VARCHAR}, #{type_id,jdbcType=VARCHAR} 
    )
  </insert>
  
  <insert id="insertObjects" parameterType="list">
		insert into t_sec_resouce (
		  f_pid, f_target_id, f_type_id
		)
		<foreach collection="list" item="entity" index="index" separator="union all">
			select
		  		#{entity.id,jdbcType=VARCHAR}, #{entity.target_id,jdbcType=VARCHAR}, #{entity.type_id,jdbcType=VARCHAR} 
			from dual
		</foreach>
  </insert>
  
  <update id="update" parameterType="com.taro.entity.sec.SecResouceEntity">
    update t_sec_resouce 
    <set>
      <if test="id != null" > f_pid = #{id,jdbcType=VARCHAR}, </if>
      <if test="target_id != null" > f_target_id = #{target_id,jdbcType=VARCHAR}, </if>
      <if test="type_id != null" > f_type_id = #{type_id,jdbcType=VARCHAR}, </if>
    </set>
    where f_pid = #{id,jdbcType=VARCHAR}
  </update>
  
  <update id="batchUpdate" parameterType="java.util.List">
		<foreach collection="list" item="entity" separator=";">
			update t_sec_resouce
			<set>
			  <if test="id != null" > f_pid = #{entity.id,jdbcType=VARCHAR}, </if>
			  <if test="target_id != null" > f_target_id = #{entity.target_id,jdbcType=VARCHAR}, </if>
			  <if test="type_id != null" > f_type_id = #{entity.type_id,jdbcType=VARCHAR}, </if>
			</set>
			where f_pid = #{id,jdbcType=VARCHAR}
		</foreach>
  </update>
  
  
  <update id="delete" parameterType="java.lang.String" >
    update t_sec_resouce set
		F_SYS_FLAG='0',
	    F_LAST_MODIFIER = #{lastModifier,jdbcType=VARCHAR},
		F_LAST_MODIFIED_TIME = #{lastModifiedTime,jdbcType=VARCHAR} 
	where f_pid = #{id,jdbcType=VARCHAR}
  </update>
  
  <update id="deleteAll" parameterType="map">
	update t_sec_resouce set 
		F_SYS_FLAG='0',
	    F_LAST_MODIFIER = #{lastModifier,jdbcType=VARCHAR},
		F_LAST_MODIFIED_TIME = #{lastModifiedTime,jdbcType=VARCHAR} 
	where f_pid in
	<foreach item="item" collection="ids" open="(" separator="," close=")">
        #{item}
    </foreach>
  </update>
  
  <!-- 查询条件 模糊查询用concat函数 ：name like concat(concat('%',#{bean.name,jdbcType=VARCHAR}),'%')，
  	         这样做主要是为了支持mysql和oracle以及防止sql注入 -->
  <select id="list" resultMap="BaseResultMap" parameterType="map">
    select 
    <include refid="Base_Column_List" />
    from t_sec_resouce t
    <where>
		<include refid="where_sql"/>
	</where>
  </select>
  
  <select id="get" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_sec_resouce t
    where t.f_pid = #{id,jdbcType=VARCHAR}
  </select>
  
</mapper>