<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- @Automatically generate by Coder in 2020-10-11 22:31:42 -->
<mapper namespace="com.taro.dao.sec.SecTenantsDao">

  	<resultMap id="BaseResultMap" type="com.taro.entity.sec.SecTenantsEntity">
	  	<id column="F_PID" property="id" jdbcType="VARCHAR" />
  		<result column="F_PID" property="id" jdbcType="VARCHAR" />
  		<result column="F_NAME" property="name" jdbcType="VARCHAR" />
  		<result column="F_CODE" property="code" jdbcType="VARCHAR" />
  		<result column="F_DESCRIBE" property="describe" jdbcType="VARCHAR" />
  		<result column="F_PARENT_PID" property="parent_pid" jdbcType="VARCHAR" />
  		<result column="F_STATUS" property="status" jdbcType="VARCHAR" />
  		<result column="F_LEVEL" property="level" jdbcType="INTEGER" />
  		<result column="F_C1" property="c1" jdbcType="VARCHAR" />
  		<result column="F_C2" property="c2" jdbcType="VARCHAR" />
  		<result column="F_C3" property="c3" jdbcType="VARCHAR" />
  		<result column="F_C4" property="c4" jdbcType="VARCHAR" />
  		<result column="F_C5" property="c5" jdbcType="VARCHAR" />
	  	<result column="F_SYS_FLAG" property="sysFlag" jdbcType="VARCHAR" />
	  	<result column="F_REMARK" property="remark" jdbcType="VARCHAR" />
	  	<result column="F_LAST_MODIFIER" property="lastModifier" jdbcType="VARCHAR" />
	  	<result column="F_LAST_MODIFIED_TIME" property="lastModifiedTime" jdbcType="VARCHAR" />
	  	<result column="F_CREATOR" property="creator" jdbcType="VARCHAR" />
	  	<result column="F_CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
	  	
  		<result column="f_status_name" property="status_name" jdbcType="VARCHAR" />
  		<result column="f_parent_name" property="parent_name" jdbcType="VARCHAR" />
  		<result column="f_username" property="username" jdbcType="VARCHAR" />
  	</resultMap>

  	<sql id="Base_Column_List" >
		t.F_PID, T.F_NAME, T.F_CODE, T.F_DESCRIBE, T.F_PARENT_PID, T.F_STATUS, 
		T.F_LEVEL, T.F_C1, T.F_C2, T.F_C3, T.F_C4,
		T.F_C5, 
		t.F_SYS_FLAG, t.F_REMARK, t.F_LAST_MODIFIER, t.F_LAST_MODIFIED_TIME, t.F_CREATOR, t.F_CREATE_TIME
  	</sql>

  	<sql id="where_sql">
		<if test="not_id != null and not_id != ''" > and t.f_pid != #{not_id,jdbcType=VARCHAR}</if>
		<if test="id != null and id != ''" > 
			and t.F_PID = #{id, jdbcType=VARCHAR}
		</if>
		<if test="name != null and name != ''" > 
			and T.F_NAME like concat(concat('%',#{name,jdbcType=VARCHAR}),'%')
		</if>
		<if test="nameEq != null and nameEq != ''" > and t.f_name =#{nameEq,jdbcType=VARCHAR}</if>
		<if test="code != null and code != ''" > 
			and T.F_CODE like concat(concat('%',#{code,jdbcType=VARCHAR}),'%')
		</if>
		<if test="codeEq != null and codeEq != ''" > and t.f_code =#{codeEq,jdbcType=VARCHAR}</if>
		<if test="describe != null and describe != ''" > 
			and T.F_DESCRIBE = #{describe, jdbcType=VARCHAR}
		</if>
		<if test="parent_pid != null and parent_pid != ''" > 
			and T.F_PARENT_PID = #{parent_pid, jdbcType=VARCHAR}
		</if>
		<if test="status != null and status != ''" > 
			and T.F_STATUS = #{status, jdbcType=VARCHAR}
		</if>
		<if test="level != null and level != ''" > 
			and T.F_LEVEL = #{level, jdbcType=INTEGER}
		</if>
		<if test="c1 != null and c1 != ''" > 
			and T.F_C1 = #{c1, jdbcType=VARCHAR}
		</if>
		<if test="c2 != null and c2 != ''" > 
			and T.F_C2 = #{c2, jdbcType=VARCHAR}
		</if>
		<if test="c3 != null and c3 != ''" > 
			and T.F_C3 = #{c3, jdbcType=VARCHAR}
		</if>
		<if test="c4 != null and c4 != ''" > 
			and T.F_C4 = #{c4, jdbcType=VARCHAR}
		</if>
		<if test="c5 != null and c5 != ''" > 
			and T.F_C5 = #{c5, jdbcType=VARCHAR}
		</if>
		<if test="sysFlag != null and sysFlag != ''" > 
			and t.F_SYS_FLAG = #{sysFlag, jdbcType=VARCHAR}
		</if>
		<if test="remark != null and remark != ''" > 
			and t.F_REMARK = #{remark, jdbcType=VARCHAR}
		</if>
		<if test="lastModifier != null and lastModifier != ''" > 
			and t.F_LAST_MODIFIER = #{lastModifier, jdbcType=VARCHAR}
		</if>
		<if test="lastModifiedTime != null and lastModifiedTime != ''" > 
			and t.F_LAST_MODIFIED_TIME = #{lastModifiedTime, jdbcType=VARCHAR}
		</if>
		<if test="creator != null and creator != ''" > 
			and t.F_CREATOR = #{creator, jdbcType=VARCHAR}
		</if>
		<if test="createTime != null and createTime != ''" > 
			and t.F_CREATE_TIME = #{createTime, jdbcType=VARCHAR}
		</if>
  	</sql>

	<!-- 新增 -->
  	<insert id="insert" parameterType="com.taro.entity.sec.SecTenantsEntity" >
    	INSERT INTO T_SEC_TENANTS (
    		F_PID, F_NAME, F_CODE, F_DESCRIBE,
			F_PARENT_PID, F_STATUS, F_LEVEL,
			F_C1, F_C2, F_C3,
			F_C4, F_C5, 
		  	F_SYS_FLAG, F_REMARK, F_LAST_MODIFIER,
		  	F_LAST_MODIFIED_TIME, F_CREATOR, F_CREATE_TIME
    	) VALUES (
    		#{id, jdbcType=VARCHAR}, #{name, jdbcType=VARCHAR}, #{code, jdbcType=VARCHAR}, #{describe, jdbcType=VARCHAR},
			#{parent_pid, jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR} , #{level, jdbcType=INTEGER},
			#{c1, jdbcType=VARCHAR}, #{c2, jdbcType=VARCHAR}, #{c3, jdbcType=VARCHAR},
			#{c4, jdbcType=VARCHAR}, #{c5,jdbcType=VARCHAR} , 
		  	#{sysFlag, jdbcType=VARCHAR}, #{remark, jdbcType=VARCHAR}, #{lastModifier, jdbcType=VARCHAR},
		  	#{lastModifiedTime, jdbcType=VARCHAR}, #{creator, jdbcType=VARCHAR}, #{createTime, jdbcType=VARCHAR} 
    	)
  	</insert>

	<!-- 批量新增 -->
  	<insert id="insertObjects" parameterType="list">
		INSERT INTO T_SEC_TENANTS (
    		F_PID, F_NAME, F_CODE, F_DESCRIBE,
			F_PARENT_PID, F_STATUS, F_LEVEL,
			F_C1, F_C2, F_C3,
			F_C4, F_C5, 
		  	F_SYS_FLAG, F_REMARK, F_LAST_MODIFIER,
		  	F_LAST_MODIFIED_TIME, F_CREATOR, F_CREATE_TIME
		)
		<foreach collection="list" item="entity" index="index" separator="union all">
			SELECT
    		#{entity.id, jdbcType=VARCHAR}, #{entity.name, jdbcType=VARCHAR}, #{entity.code, jdbcType=VARCHAR}, #{entity.describe, jdbcType=VARCHAR},
			#{entity.parent_pid, jdbcType=VARCHAR}, #{entity.status,jdbcType=VARCHAR} , #{entity.level, jdbcType=INTEGER},
			#{entity.c1, jdbcType=VARCHAR}, #{entity.c2, jdbcType=VARCHAR}, #{entity.c3, jdbcType=VARCHAR},
			#{entity.c4, jdbcType=VARCHAR}, #{entity.c5,jdbcType=VARCHAR} , 
  			#{entity.sysFlag,jdbcType=VARCHAR}, #{entity.remark,jdbcType=VARCHAR}, #{entity.lastModifier,jdbcType=VARCHAR},
  			#{entity.lastModifiedTime,jdbcType=VARCHAR}, #{entity.creator,jdbcType=VARCHAR}, #{entity.createTime,jdbcType=VARCHAR} 
			FROM DUAL
		</foreach>
  	</insert>

	<!-- 更新 -->
  	<update id="update" parameterType="com.taro.entity.sec.SecTenantsEntity">
    	UPDATE T_SEC_TENANTS
	    <set>
      		<if test="id != null" > F_PID = #{id, jdbcType=VARCHAR}, </if>
      		<if test="name != null" > F_NAME = #{name, jdbcType=VARCHAR}, </if>
      		<if test="code != null" > F_CODE = #{code, jdbcType=VARCHAR}, </if>
      		<if test="describe != null" > F_DESCRIBE = #{describe, jdbcType=VARCHAR}, </if>
      		<if test="parent_pid != null" > F_PARENT_PID = #{parent_pid, jdbcType=VARCHAR}, </if>
      		<if test="status != null" > F_STATUS = #{status, jdbcType=VARCHAR}, </if>
      		<if test="level != null" > F_LEVEL = #{level, jdbcType=INTEGER}, </if>
      		<if test="c1 != null" > F_C1 = #{c1, jdbcType=VARCHAR}, </if>
      		<if test="c2 != null" > F_C2 = #{c2, jdbcType=VARCHAR}, </if>
      		<if test="c3 != null" > F_C3 = #{c3, jdbcType=VARCHAR}, </if>
      		<if test="c4 != null" > F_C4 = #{c4, jdbcType=VARCHAR}, </if>
      		<if test="c5 != null" > F_C5 = #{c5, jdbcType=VARCHAR}, </if>
	      	<if test="sysFlag != null" > F_SYS_FLAG = #{sysFlag, jdbcType=VARCHAR}, </if>
	      	<if test="remark != null" > F_REMARK = #{remark, jdbcType=VARCHAR}, </if>
	      	<if test="lastModifier != null" > F_LAST_MODIFIER = #{lastModifier, jdbcType=VARCHAR}, </if>
	      	<if test="lastModifiedTime != null" > F_LAST_MODIFIED_TIME = #{lastModifiedTime, jdbcType=VARCHAR}, </if>
	      	<if test="creator != null" > F_CREATOR = #{creator, jdbcType=VARCHAR}, </if>
	      	<if test="createTime != null" > F_CREATE_TIME = #{createTime, jdbcType=VARCHAR}, </if>
	    </set>
    	WHERE F_PID = #{id, jdbcType=VARCHAR}
  	</update>

	<!-- 批量更新 -->
  	<update id="batchUpdate" parameterType="java.util.List">
		<foreach collection="list" item="entity" separator=";">
			UPDATE T_SEC_TENANTS
			<set>
		      	<if test="id != null" > F_PID = #{entity.id, jdbcType=VARCHAR}, </if>
	      		<if test="name != null" > F_NAME = #{entity.name, jdbcType=VARCHAR}, </if>
	      		<if test="code != null" > F_CODE = #{entity.code, jdbcType=VARCHAR}, </if>
	      		<if test="describe != null" > F_DESCRIBE = #{entity.describe, jdbcType=VARCHAR}, </if>
	      		<if test="parent_pid != null" > F_PARENT_PID = #{entity.parent_pid, jdbcType=VARCHAR}, </if>
	      		<if test="status != null" > F_STATUS = #{entity.status, jdbcType=VARCHAR}, </if>
	      		<if test="level != null" > F_LEVEL = #{entity.level, jdbcType=INTEGER}, </if>
	      		<if test="c1 != null" > F_C1 = #{entity.c1, jdbcType=VARCHAR}, </if>
	      		<if test="c2 != null" > F_C2 = #{entity.c2, jdbcType=VARCHAR}, </if>
	      		<if test="c3 != null" > F_C3 = #{entity.c3, jdbcType=VARCHAR}, </if>
	      		<if test="c4 != null" > F_C4 = #{entity.c4, jdbcType=VARCHAR}, </if>
	      		<if test="c5 != null" > F_C5 = #{entity.c5, jdbcType=VARCHAR}, </if>
		      	<if test="sysFlag != null" > F_SYS_FLAG = #{entity.sysFlag, jdbcType=VARCHAR}, </if>
		      	<if test="remark != null" > F_REMARK = #{entity.remark, jdbcType=VARCHAR}, </if>
		      	<if test="lastModifier != null" > F_LAST_MODIFIER = #{entity.lastModifier, jdbcType=VARCHAR}, </if>
		      	<if test="lastModifiedTime != null" > F_LAST_MODIFIED_TIME = #{entity.lastModifiedTime, jdbcType=VARCHAR}, </if>
		      	<if test="creator != null" > F_CREATOR = #{entity.creator, jdbcType=VARCHAR}, </if>
		      	<if test="createTime != null" > F_CREATE_TIME = #{entity.createTime, jdbcType=VARCHAR}, </if>
			</set>
    		WHERE F_PID = #{id, jdbcType=VARCHAR}
		</foreach>
  	</update>

	<!-- 逻辑删除 -->
  	<update id="delete" parameterType="java.lang.String" >
    	UPDATE T_SEC_TENANTS SET
			F_SYS_FLAG = '0',
		    F_LAST_MODIFIER = #{lastModifier, jdbcType=VARCHAR},
			F_LAST_MODIFIED_TIME = #{lastModifiedTime, jdbcType=VARCHAR}
    	WHERE F_PID = #{id, jdbcType=VARCHAR}
  	</update>

	<!-- 逻辑删除所有 -->
  	<update id="deleteAll" parameterType="map">
		UPDATE T_SEC_TENANTS SET 
			F_SYS_FLAG = '0',
		    F_LAST_MODIFIER = #{lastModifier, jdbcType=VARCHAR},
			F_LAST_MODIFIED_TIME = #{lastModifiedTime, jdbcType=VARCHAR}
		WHERE F_PID IN
		<foreach item="item" collection="ids" open="(" separator="," close=")">
        	#{item}
    	</foreach>
  	</update>

	<!-- 查询条件 模糊查询用concat函数:name like concat(concat('%',#{bean.name,jdbcType=VARCHAR}),'%'),	这样做主要是为了支持mysql和oracle以及防止sql注入 -->
  	<!-- 列表查询 -->
  	<select id="list" resultMap="BaseResultMap" parameterType="map">
	    SELECT 
	    	<include refid="Base_Column_List" />
	    FROM T_SEC_TENANTS T
	    <where>
			<include refid="where_sql"/>
		</where>
  	</select>

  	<select id="listTreeById" resultMap="BaseResultMap" parameterType="map">
	    SELECT 
	    	<include refid="Base_Column_List" />
	    FROM T_SEC_TENANTS T
	    where FIND_IN_SET(f_pid, getChildrenOrg(#{id, jdbcType=VARCHAR}))
	    and t.f_pid != #{id, jdbcType=VARCHAR}
		<if test="name != null and name != ''" > 
			and T.F_NAME like concat(concat('%',#{name,jdbcType=VARCHAR}),'%')
		</if>
		<if test="nameEq != null and nameEq != ''" > and t.f_name =#{nameEq,jdbcType=VARCHAR}</if>
		<if test="code != null and code != ''" > 
			and T.F_CODE like concat(concat('%',#{code,jdbcType=VARCHAR}),'%')
		</if>
		<if test="codeEq != null and codeEq != ''" > and t.f_code =#{codeEq,jdbcType=VARCHAR}</if>
		<if test="describe != null and describe != ''" > 
			and T.F_DESCRIBE = #{describe, jdbcType=VARCHAR}
		</if>
		<if test="parent_pid != null and parent_pid != ''" > 
			and T.F_PARENT_PID = #{parent_pid, jdbcType=VARCHAR}
		</if>
		<if test="status != null and status != ''" > 
			and T.F_STATUS = #{status, jdbcType=VARCHAR}
		</if>
		<if test="level != null and level != ''" > 
			and T.F_LEVEL = #{level, jdbcType=INTEGER}
		</if>
		<if test="c1 != null and c1 != ''" > 
			and T.F_C1 = #{c1, jdbcType=VARCHAR}
		</if>
		<if test="c2 != null and c2 != ''" > 
			and T.F_C2 = #{c2, jdbcType=VARCHAR}
		</if>
		<if test="c3 != null and c3 != ''" > 
			and T.F_C3 = #{c3, jdbcType=VARCHAR}
		</if>
		<if test="c4 != null and c4 != ''" > 
			and T.F_C4 = #{c4, jdbcType=VARCHAR}
		</if>
		<if test="c5 != null and c5 != ''" > 
			and T.F_C5 = #{c5, jdbcType=VARCHAR}
		</if>
		<if test="sysFlag != null and sysFlag != ''" > 
			and t.F_SYS_FLAG = #{sysFlag, jdbcType=VARCHAR}
		</if>
		<if test="remark != null and remark != ''" > 
			and t.F_REMARK = #{remark, jdbcType=VARCHAR}
		</if>
		<if test="lastModifier != null and lastModifier != ''" > 
			and t.F_LAST_MODIFIER = #{lastModifier, jdbcType=VARCHAR}
		</if>
		<if test="lastModifiedTime != null and lastModifiedTime != ''" > 
			and t.F_LAST_MODIFIED_TIME = #{lastModifiedTime, jdbcType=VARCHAR}
		</if>
		<if test="creator != null and creator != ''" > 
			and t.F_CREATOR = #{creator, jdbcType=VARCHAR}
		</if>
		<if test="createTime != null and createTime != ''" > 
			and t.F_CREATE_TIME = #{createTime, jdbcType=VARCHAR}
		</if>
  	</select>
  	
  	<select id="listSecTenants" resultMap="BaseResultMap" parameterType="map">
	    select t.*,
		d.f_name as f_status_name,
		tt.f_name as f_parent_name,
		u.f_username as f_username
	    from t_sec_tenants t
		left join t_pub_dic d on t.f_status = d.f_pid and d.f_sys_flag = '1'
		left join t_sec_tenants tt on t.f_parent_pid = tt.f_pid and tt.f_sys_flag = '1'
		left join t_sec_user u on t.f_pid = u.f_tenants_pid and u.f_sys_flag = '1' and u.F_C1 = '1'
	    where 1 = 1
    	<include refid="where_sql"/>
  	</select>
  
	<!-- 根据ID查询单条记录 -->
  	<select id="get" resultMap="BaseResultMap" parameterType="java.lang.String" >
    	SELECT 
    		<include refid="Base_Column_List" />
    	FROM T_SEC_TENANTS T
    	WHERE T.F_PID = #{id,jdbcType=VARCHAR}
  	</select>

	<!-- 根据ID查询单条记录 -->
  	<select id="getParentByLevel" resultMap="BaseResultMap" parameterType="map" >
    	SELECT 
    		<include refid="Base_Column_List" />
    	FROM T_SEC_TENANTS T
    	WHERE FIND_IN_SET(t.f_pid, getParentOrg(#{id,jdbcType=VARCHAR}))
    	and T.F_LEVEL = #{level,jdbcType=INTEGER}
    	and t.f_sys_flag = '1'
  	</select>
  	
</mapper>