<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- @Automatically generate by Coder in 2020-10-21 11:15:33 -->
<mapper namespace="com.taro.dao.pay.PayUnionpayDao">

  	<resultMap id="BaseResultMap" type="com.taro.entity.pay.PayUnionpayEntity">
	  	<id column="F_PID" property="id" jdbcType="VARCHAR" />
  		<result column="F_PID" property="id" jdbcType="VARCHAR" />
  		<result column="F_TENANTS_PID" property="tenants_pid" jdbcType="VARCHAR" />
  		<result column="F_NAME" property="name" jdbcType="VARCHAR" />
	  	<result column="F_SYS_FLAG" property="sysFlag" jdbcType="VARCHAR" />
	  	<result column="F_REMARK" property="remark" jdbcType="VARCHAR" />
	  	<result column="F_LAST_MODIFIER" property="lastModifier" jdbcType="VARCHAR" />
	  	<result column="F_LAST_MODIFIED_TIME" property="lastModifiedTime" jdbcType="VARCHAR" />
	  	<result column="F_CREATOR" property="creator" jdbcType="VARCHAR" />
	  	<result column="F_CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
	  	
  		<result column="F_TENANTS_NAME" property="tenants_name" jdbcType="VARCHAR" />
  	</resultMap>

  	<sql id="Base_Column_List" >
		t.F_PID, T.F_TENANTS_PID, T.F_NAME, 
		t.F_SYS_FLAG, t.F_REMARK, t.F_LAST_MODIFIER, t.F_LAST_MODIFIED_TIME, t.F_CREATOR, t.F_CREATE_TIME
  	</sql>

  	<sql id="where_sql">
		<if test="not_id != null and not_id != ''" > and t.f_pid != #{not_id,jdbcType=VARCHAR}</if>
		<if test="id != null and id != ''" > 
			and t.F_PID = #{id, jdbcType=VARCHAR}
		</if>
		<if test="tenants_pid != null and tenants_pid != ''" > 
			and T.F_TENANTS_PID = #{tenants_pid, jdbcType=VARCHAR}
		</if>
		<if test="name != null and name != ''" > 
			and T.F_NAME like concat(concat('%',#{name,jdbcType=VARCHAR}),'%')
		</if>
		<if test="nameEq != null and nameEq != ''" > 
			and T.F_NAME = #{nameEq, jdbcType=VARCHAR}
		</if>
		<if test="sysFlag != null and sysFlag != ''" > 
			and t.F_SYS_FLAG = #{sysFlag, jdbcType=VARCHAR}
		</if>
		<if test="remark != null and remark != ''" > 
			and t.F_REMARK = #{remark, jdbcType=VARCHAR}
		</if>
		<if test="lastModifier != null and lastModifier != ''" > 
			and t.F_LAST_MODIFIER = #{lastModifier, jdbcType=VARCHAR}
		</if>
		<if test="lastModifiedTime != null and lastModifiedTime != ''" > 
			and t.F_LAST_MODIFIED_TIME = #{lastModifiedTime, jdbcType=VARCHAR}
		</if>
		<if test="creator != null and creator != ''" > 
			and t.F_CREATOR = #{creator, jdbcType=VARCHAR}
		</if>
		<if test="createTime != null and createTime != ''" > 
			and t.F_CREATE_TIME = #{createTime, jdbcType=VARCHAR}
		</if>
  	</sql>

	<!-- 新增 -->
  	<insert id="insert" parameterType="com.taro.entity.pay.PayUnionpayEntity" >
    	INSERT INTO T_PAY_UNIONPAY (
    		F_PID, F_TENANTS_PID, F_NAME, 
		  	F_SYS_FLAG, F_REMARK, F_LAST_MODIFIER,
		  	F_LAST_MODIFIED_TIME, F_CREATOR, F_CREATE_TIME
    	) VALUES (
    		#{id, jdbcType=VARCHAR}, #{tenants_pid, jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR} , 
		  	#{sysFlag, jdbcType=VARCHAR}, #{remark, jdbcType=VARCHAR}, #{lastModifier, jdbcType=VARCHAR},
		  	#{lastModifiedTime, jdbcType=VARCHAR}, #{creator, jdbcType=VARCHAR}, #{createTime, jdbcType=VARCHAR} 
    	)
  	</insert>

	<!-- 批量新增 -->
  	<insert id="insertObjects" parameterType="list">
		INSERT INTO T_PAY_UNIONPAY (
    		F_PID, F_TENANTS_PID, F_NAME, 
		  	F_SYS_FLAG, F_REMARK, F_LAST_MODIFIER,
		  	F_LAST_MODIFIED_TIME, F_CREATOR, F_CREATE_TIME
		)
		<foreach collection="list" item="entity" index="index" separator="union all">
			SELECT
    		#{entity.id, jdbcType=VARCHAR}, #{entity.tenants_pid, jdbcType=VARCHAR}, #{entity.name,jdbcType=VARCHAR} , 
  			#{entity.sysFlag,jdbcType=VARCHAR}, #{entity.remark,jdbcType=VARCHAR}, #{entity.lastModifier,jdbcType=VARCHAR},
  			#{entity.lastModifiedTime,jdbcType=VARCHAR}, #{entity.creator,jdbcType=VARCHAR}, #{entity.createTime,jdbcType=VARCHAR} 
			FROM DUAL
		</foreach>
  	</insert>

	<!-- 更新 -->
  	<update id="update" parameterType="com.taro.entity.pay.PayUnionpayEntity">
    	UPDATE T_PAY_UNIONPAY
	    <set>
      		<if test="id != null" > F_PID = #{id, jdbcType=VARCHAR}, </if>
      		<if test="tenants_pid != null" > F_TENANTS_PID = #{tenants_pid, jdbcType=VARCHAR}, </if>
      		<if test="name != null" > F_NAME = #{name, jdbcType=VARCHAR}, </if>
	      	<if test="sysFlag != null" > F_SYS_FLAG = #{sysFlag, jdbcType=VARCHAR}, </if>
	      	<if test="remark != null" > F_REMARK = #{remark, jdbcType=VARCHAR}, </if>
	      	<if test="lastModifier != null" > F_LAST_MODIFIER = #{lastModifier, jdbcType=VARCHAR}, </if>
	      	<if test="lastModifiedTime != null" > F_LAST_MODIFIED_TIME = #{lastModifiedTime, jdbcType=VARCHAR}, </if>
	      	<if test="creator != null" > F_CREATOR = #{creator, jdbcType=VARCHAR}, </if>
	      	<if test="createTime != null" > F_CREATE_TIME = #{createTime, jdbcType=VARCHAR}, </if>
	    </set>
    	WHERE F_PID = #{id, jdbcType=VARCHAR}
  	</update>

	<!-- 批量更新 -->
  	<update id="batchUpdate" parameterType="java.util.List">
		<foreach collection="list" item="entity" separator=";">
			UPDATE T_PAY_UNIONPAY
			<set>
		      	<if test="id != null" > F_PID = #{entity.id, jdbcType=VARCHAR}, </if>
	      		<if test="tenants_pid != null" > F_TENANTS_PID = #{entity.tenants_pid, jdbcType=VARCHAR}, </if>
	      		<if test="name != null" > F_NAME = #{entity.name, jdbcType=VARCHAR}, </if>
		      	<if test="sysFlag != null" > F_SYS_FLAG = #{entity.sysFlag, jdbcType=VARCHAR}, </if>
		      	<if test="remark != null" > F_REMARK = #{entity.remark, jdbcType=VARCHAR}, </if>
		      	<if test="lastModifier != null" > F_LAST_MODIFIER = #{entity.lastModifier, jdbcType=VARCHAR}, </if>
		      	<if test="lastModifiedTime != null" > F_LAST_MODIFIED_TIME = #{entity.lastModifiedTime, jdbcType=VARCHAR}, </if>
		      	<if test="creator != null" > F_CREATOR = #{entity.creator, jdbcType=VARCHAR}, </if>
		      	<if test="createTime != null" > F_CREATE_TIME = #{entity.createTime, jdbcType=VARCHAR}, </if>
			</set>
    		WHERE F_PID = #{id, jdbcType=VARCHAR}
		</foreach>
  	</update>

	<!-- 逻辑删除 -->
  	<update id="delete" parameterType="java.lang.String" >
    	UPDATE T_PAY_UNIONPAY SET
			F_SYS_FLAG = '0',
		    F_LAST_MODIFIER = #{lastModifier, jdbcType=VARCHAR},
			F_LAST_MODIFIED_TIME = #{lastModifiedTime, jdbcType=VARCHAR}
    	WHERE F_PID = #{id, jdbcType=VARCHAR}
  	</update>

	<!-- 逻辑删除所有 -->
  	<update id="deleteAll" parameterType="map">
		UPDATE T_PAY_UNIONPAY SET 
			F_SYS_FLAG = '0',
		    F_LAST_MODIFIER = #{lastModifier, jdbcType=VARCHAR},
			F_LAST_MODIFIED_TIME = #{lastModifiedTime, jdbcType=VARCHAR}
		WHERE F_PID IN
		<foreach item="item" collection="ids" open="(" separator="," close=")">
        	#{item}
    	</foreach>
  	</update>

	<!-- 查询条件 模糊查询用concat函数:name like concat(concat('%',#{bean.name,jdbcType=VARCHAR}),'%'),	这样做主要是为了支持mysql和oracle以及防止sql注入 -->
  	<!-- 列表查询 -->
  	<select id="list" resultMap="BaseResultMap" parameterType="map">
	    SELECT t.*,
		st.F_NAME as F_TENANTS_NAME
		FROM T_PAY_UNIONPAY T
		left join t_sec_tenants st on t.F_TENANTS_PID = st.F_PID and st.F_SYS_FLAG = '1'
	    <where>
			<include refid="where_sql"/>
		</where>
  	</select>

	<!-- 根据ID查询单条记录 -->
  	<select id="get" resultMap="BaseResultMap" parameterType="java.lang.String" >
    	SELECT 
    		<include refid="Base_Column_List" />
    	FROM T_PAY_UNIONPAY T
    	WHERE T.F_PID = #{id,jdbcType=VARCHAR}
  	</select>

</mapper>