<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- @Automatically generate by Coder in 2019-07-31 10:57 -->
<mapper namespace="com.taro.dao.pub.PubBaseDao">
  <resultMap id="BaseResultMap" type="com.taro.entity.pub.PubBaseEntity">
  	<id column="f_pid" property="id" jdbcType="VARCHAR" />
  	<result column="f_pid" property="id" jdbcType="VARCHAR" />
  	<result column="f_code" property="code" jdbcType="VARCHAR" />
  	<result column="f_name" property="name" jdbcType="VARCHAR" />
  	<result column="f_parent_pid" property="parent_pid" jdbcType="VARCHAR" />
  	<result column="f_order" property="order" jdbcType="INTEGER" />
  	<result column="f_build_flag" property="buildflag" jdbcType="VARCHAR" />
  	<result column="f_sys_flag" property="sysFlag" jdbcType="VARCHAR" />
  	<result column="f_remark" property="remark" jdbcType="VARCHAR" />
  	<result column="f_last_modifier" property="lastModifier" jdbcType="VARCHAR" />
  	<result column="f_last_modified_time" property="lastModifiedTime" jdbcType="VARCHAR" />
  	<result column="f_creator" property="creator" jdbcType="VARCHAR" />
  	<result column="f_create_time" property="createTime" jdbcType="VARCHAR" />
  	
  	<result column="f_parent_name" property="parent_name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
  	t.f_pid, t.f_code, t.f_name, t.f_parent_pid, t.f_order, t.f_build_flag, t.f_sys_flag,
t.f_remark, t.f_last_modifier, t.f_last_modified_time, t.f_creator, t.f_create_time
  </sql>
  
  <sql id="where_sql">
	<if test="id != null and id != ''" > and t.f_pid = #{id,jdbcType=VARCHAR}</if>
	<if test="code != null and code != ''" > and t.f_code = #{code,jdbcType=VARCHAR}</if>
	<if test="name != null and name != ''" > and t.f_name = #{name,jdbcType=VARCHAR}</if>
	<if test="parent_pid != null and parent_pid != ''" > and t.f_parent_pid = #{parent_pid,jdbcType=VARCHAR}</if>
	<if test="order != null and order != ''" > and t.f_order = #{order,jdbcType=VARCHAR}</if>
	<if test="buildflag != null and buildflag != ''" > and t.f_build_flag = #{buildflag,jdbcType=VARCHAR}</if>
	<if test="sysFlag != null and sysFlag != ''" > and t.f_sys_flag = #{sysFlag,jdbcType=VARCHAR}</if>
	<if test="remark != null and remark != ''" > and t.f_remark = #{remark,jdbcType=VARCHAR}</if>
	<if test="lastModifier != null and lastModifier != ''" > and t.f_last_modifier = #{lastModifier,jdbcType=VARCHAR}</if>
	<if test="lastModifiedTime != null and lastModifiedTime != ''" > and t.f_last_modified_time = #{lastModifiedTime,jdbcType=VARCHAR}</if>
	<if test="creator != null and creator != ''" > and t.f_creator = #{creator,jdbcType=VARCHAR}</if>
	<if test="createTime != null and createTime != ''" > and t.f_create_time = #{createTime,jdbcType=VARCHAR}</if>
  </sql>
  
  <insert id="insert" parameterType="com.taro.entity.pub.PubBaseEntity" >
    insert into t_pub_base (
      f_pid, f_code, f_name,
  f_parent_pid, f_order, f_build_flag, f_sys_flag,
  f_remark, f_last_modifier, f_last_modified_time,
  f_creator, f_create_time
    ) values (
      #{id,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
  #{parent_pid,jdbcType=VARCHAR}, #{order,jdbcType=INTEGER}, #{buildflag,jdbcType=VARCHAR}, #{sysFlag,jdbcType=VARCHAR},
  #{remark,jdbcType=VARCHAR}, #{lastModifier,jdbcType=VARCHAR}, #{lastModifiedTime,jdbcType=VARCHAR},
  #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR} 
    )
  </insert>
  
  <insert id="insertObjects" parameterType="list">
		insert into t_pub_base (
		  f_pid, f_code, f_name,
  f_parent_pid, f_order, f_build_flag, f_sys_flag,
  f_remark, f_last_modifier, f_last_modified_time,
  f_creator, f_create_time
		)
		<foreach collection="list" item="entity" index="index" separator="union all">
			select
		  		#{entity.id,jdbcType=VARCHAR}, #{entity.code,jdbcType=VARCHAR}, #{entity.name,jdbcType=VARCHAR},
  #{entity.parent_pid,jdbcType=VARCHAR}, #{entity.order,jdbcType=INTEGER}, #{entity.buildflag,jdbcType=VARCHAR}, #{entity.sysFlag,jdbcType=VARCHAR},
  #{entity.remark,jdbcType=VARCHAR}, #{entity.lastModifier,jdbcType=VARCHAR}, #{entity.lastModifiedTime,jdbcType=VARCHAR},
  #{entity.creator,jdbcType=VARCHAR}, #{entity.createTime,jdbcType=VARCHAR} 
			from dual
		</foreach>
  </insert>
  
  <update id="update" parameterType="com.taro.entity.pub.PubBaseEntity">
    update t_pub_base 
    <set>
      <if test="id != null" > f_pid = #{id,jdbcType=VARCHAR}, </if>
      <if test="code != null" > f_code = #{code,jdbcType=VARCHAR}, </if>
      <if test="name != null" > f_name = #{name,jdbcType=VARCHAR}, </if>
      <if test="parent_pid != null" > f_parent_pid = #{parent_pid,jdbcType=VARCHAR}, </if>
      <if test="order != null" > f_order = #{order,jdbcType=VARCHAR}, </if>
      <if test="buildflag != null" > f_build_flag = #{buildflag,jdbcType=VARCHAR}, </if>
      <if test="sysFlag != null" > f_sys_flag = #{sysFlag,jdbcType=VARCHAR}, </if>
      <if test="remark != null" > f_remark = #{remark,jdbcType=VARCHAR}, </if>
      <if test="lastModifier != null" > f_last_modifier = #{lastModifier,jdbcType=VARCHAR}, </if>
      <if test="lastModifiedTime != null" > f_last_modified_time = #{lastModifiedTime,jdbcType=VARCHAR}, </if>
      <if test="creator != null" > f_creator = #{creator,jdbcType=VARCHAR}, </if>
      <if test="createTime != null" > f_create_time = #{createTime,jdbcType=VARCHAR}, </if>
    </set>
    where f_pid = #{id,jdbcType=VARCHAR}
  </update>
  
  <update id="batchUpdate" parameterType="java.util.List">
		<foreach collection="list" item="entity" separator=";">
			update t_pub_base
			<set>
			  <if test="id != null" > f_pid = #{entity.id,jdbcType=VARCHAR}, </if>
			  <if test="code != null" > f_code = #{entity.code,jdbcType=VARCHAR}, </if>
			  <if test="name != null" > f_name = #{entity.name,jdbcType=VARCHAR}, </if>
			  <if test="parent_pid != null" > f_parent_pid = #{entity.parent_pid,jdbcType=VARCHAR}, </if>
			  <if test="order != null" > f_order = #{entity.order,jdbcType=VARCHAR}, </if>
			  <if test="buildflag != null" > f_build_flag = #{entity.buildflag,jdbcType=VARCHAR}, </if>
			  <if test="sysFlag != null" > f_sys_flag = #{entity.sysFlag,jdbcType=VARCHAR}, </if>
			  <if test="remark != null" > f_remark = #{entity.remark,jdbcType=VARCHAR}, </if>
			  <if test="lastModifier != null" > f_last_modifier = #{entity.lastModifier,jdbcType=VARCHAR}, </if>
			  <if test="lastModifiedTime != null" > f_last_modified_time = #{entity.lastModifiedTime,jdbcType=VARCHAR}, </if>
			  <if test="creator != null" > f_creator = #{entity.creator,jdbcType=VARCHAR}, </if>
			  <if test="createTime != null" > f_create_time = #{entity.createTime,jdbcType=VARCHAR}, </if>
			</set>
			where f_pid = #{id,jdbcType=VARCHAR}
		</foreach>
  </update>
  
  
  <update id="delete" parameterType="java.lang.String" >
    update t_pub_base set
		F_SYS_FLAG='0',
	    F_LAST_MODIFIER = #{lastModifier,jdbcType=VARCHAR},
		F_LAST_MODIFIED_TIME = #{lastModifiedTime,jdbcType=VARCHAR} 
	where f_pid = #{id,jdbcType=VARCHAR}
  </update>
  
  <update id="deleteAll" parameterType="map">
	update t_pub_base set 
		F_SYS_FLAG='0',
	    F_LAST_MODIFIER = #{lastModifier,jdbcType=VARCHAR},
		F_LAST_MODIFIED_TIME = #{lastModifiedTime,jdbcType=VARCHAR} 
	where f_pid in
	<foreach item="item" collection="ids" open="(" separator="," close=")">
        #{item}
    </foreach>
  </update>
  
  <!-- 查询条件 模糊查询用concat函数 ：name like concat(concat('%',#{bean.name,jdbcType=VARCHAR}),'%')，
  	         这样做主要是为了支持mysql和oracle以及防止sql注入 -->
  <select id="list" resultMap="BaseResultMap" parameterType="map">
    select t.*,
    p.f_name as f_parent_name
    from t_pub_base t
    left join t_pub_base p on t.f_parent_pid = p.f_pid and p.f_sys_flag = '1'
    where 1 = 1
	<if test="not_id != null and not_id != ''" > and t.f_pid != #{not_id,jdbcType=VARCHAR}</if>
	<if test="id != null and id != ''" > and t.f_pid = #{id,jdbcType=VARCHAR}</if>
	<if test="codeEq != null and codeEq != ''" > and t.f_code =#{codeEq,jdbcType=VARCHAR}</if>
	<if test="nameEq != null and nameEq != ''" > and t.f_name =#{nameEq,jdbcType=VARCHAR}</if>
	<if test="code != null and code != ''" > and t.f_code like concat(concat('%',#{code,jdbcType=VARCHAR}),'%')</if>
	<if test="name != null and name != ''" > and t.f_name like concat(concat('%',#{name,jdbcType=VARCHAR}),'%')</if>
	<if test="parent_pid != null and parent_pid != ''" > and t.f_parent_pid = #{parent_pid,jdbcType=VARCHAR}</if>
	<if test="order != null and order != ''" > and t.f_order = #{order,jdbcType=VARCHAR}</if>
	<if test="buildflag != null and buildflag != ''" > and t.f_build_flag = #{buildflag,jdbcType=VARCHAR}</if>
	<if test="sysFlag != null and sysFlag != ''" > and t.f_sys_flag = #{sysFlag,jdbcType=VARCHAR}</if>
	<if test="remark != null and remark != ''" > and t.f_remark = #{remark,jdbcType=VARCHAR}</if>
	<if test="lastModifier != null and lastModifier != ''" > and t.f_last_modifier = #{lastModifier,jdbcType=VARCHAR}</if>
	<if test="lastModifiedTime != null and lastModifiedTime != ''" > and t.f_last_modified_time = #{lastModifiedTime,jdbcType=VARCHAR}</if>
	<if test="creator != null and creator != ''" > and t.f_creator = #{creator,jdbcType=VARCHAR}</if>
	<if test="createTime != null and createTime != ''" > and t.f_create_time = #{createTime,jdbcType=VARCHAR}</if>
	order by t.f_order,t.f_create_time desc
  </select>
  
  <select id="get" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_pub_base t
    where t.f_pid = #{id,jdbcType=VARCHAR}
  </select>
  
</mapper>